header {
    font-family: "Shrikhand";
    background-color: #FFFFFF;
}

h1.logo {
    color: #101010;
    text-align: center;
    font-size: 30px;
    line-height: 43.74px;
    padding-top: 10px;
    font-style: italic;
}