header {
  font-family: "Shrikhand";
  background-color: #FFFFFF;
}

h1.logo {
  color: #101010;
  text-align: center;
  font-size: 30px;
  line-height: 43.74px;
  padding-top: 10px;
  font-style: italic;
}

footer {
  display: flex;
  background-color: #000;
  color: #FFF;
  flex-direction: column;
  width: 375px;
  height: 197px;
}
footer .pied-de-page .container {
  width: 100%;
  color: var(--White, #FFF);
  height: auto;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .pied-de-page .container .title-footer {
  font-family: "Shrikhand";
  width: auto;
  font-size: 26px;
  color: var(--White, #fff);
  padding-right: 10px;
  margin-left: 17px;
}
footer .pied-de-page .container h2.title-footer {
  color: #FFF;
  font-family: "Skikland";
  padding-left: 17px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
footer .pied-de-page .container .card img {
  -o-object-fit: cover;
     object-fit: cover;
}
footer .pied-de-page .container .card-title {
  color: #000;
  display: flex;
  justify-content: left;
  font-family: "Roboto";
  margin: 8px;
  font-size: 18px;
}
footer .pied-de-page .container footer ul {
  margin: 19px;
}
footer .pied-de-page .container a {
  font-size: 16px;
  color: #fff;
}

.location {
  display: flex;
  text-align: center;
  padding-left: 30%;
  font-family: "Roboto";
  font-size: 16px;
  width: 100%;
  height: 50px;
  border-top: 0.5px solid grey;
  color: #353535;
  background-color: #EAEAEA;
}
.location i.locate.fas.fa-map-marker-alt {
  padding-top: 22px;
  padding-right: 10px;
}

/* Section Title */
.headline {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.headline h2 {
  font-weight: bolder;
  font-size: 24px;
  font-style: normal;
}
.headline .sub-title {
  font-size: 18px;
  font-weight: bold;
  color: #353535;
  text-align: center;
}
.headline .button-research {
  color: var(--White, #fff);
  margin: 76px;
  width: 222px;
  height: 50px;
  padding-left: 28px;
  padding-right: 28px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  border-radius: 41px;
  background: var(--Button-Gradient, linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%));
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.headline a {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  padding-top: 23px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  background-color: #fff;
  width: 100%;
  height: 440px;
  padding-top: 0px;
  left: 20px;
}
.fonctionnement h2.title-section {
  margin-right: 199px;
}
.fonctionnement .selection {
  width: 322.48px;
  height: 72.379px;
  padding-top: 38px;
  border-radius: 20px;
  background: #f6f6f6;
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement a {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

section.restaurants {
  background-color: #EAEAEA !important;
}

section .restaurants {
  background-color: #EAEAEA;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cards-container {
  width: 100%;
  padding-left: 20px;
}
.cards-container .card {
  border: 5px solid white;
  border-radius: 20px 20px;
  border-bottom-left-radius: 20px;
}
.cards-container .card .card img {
  width: 340.912px;
  height: 231px;
  padding-left: 11px;
}
.cards-container .card img {
  width: 340.912px;
  height: 231px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #FFF;
}
footer .container {
  width: 100%;
  height: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .container .title-footer {
  font-family: "Shrikhand";
  width: auto;
  font-size: 26px;
  color: var(--White, #fff);
  padding-right: 10px;
  margin-left: 17px;
}
footer .container .title-footer footer ul {
  margin: 19px;
  list-style-type: none;
  text-decoration: none;
}
footer .container .title-footer footer ul .card-title {
  color: #FFF;
  display: flex;
  font-size: 16px;
  justify-content: left;
  font-family: "Roboto";
  margin: 8px;
  font-size: 18px;
}
footer .container .title-footer footer ul .card-title .card-subtitule {
  color: #000;
  font-size: 16px;
}
footer .container .title-footer footer ul ul {
  list-style-type: none;
}
footer .container .title-footer footer ul ul a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}/*# sourceMappingURL=main.css.map */